torch
torchvision
torchaudio
fairscale
fire
blobfile
huggingface_hub[cli]
llama-recipes
llama-toolchain
trl
transformers 
datasets 
accelerate
peft
bitsandbytes
wandb
scipy 
einops 
evaluate  
rouge_score